<h1><%= @task.title %></h1>

<p><%= @task.details %></p>

<button type='button' class='btn btn-light'><%= link_to "Edit this task", edit_task_path %></button>

<p>
  <%= link_to "Delete task",
    task_path(@task),
    data: { turbo_method: :delete, turbo_confirm: 'Are you sure ?' }
  %>
</p>

<p>
  <i class="fa-solid fa-rotate-left"><%= link_to "Back to list", tasks_path%></i>
</p>
